.form_control {
	position: relative;
	padding: 15px 20px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

input {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #fa4ffa;
	outline: 0;
	font-size: 1.1em;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ label {
		font-size: 1.1em;
		cursor: text;
		top: 20px;
	}
}

label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1em;
	color: #fff;
}

input:focus {
	~ label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1em;
		color: #fff;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 2px;
	border-image: linear-gradient(to right, #fa4ffa, #ffbfff);
	border-image-slice: 1;
}
/* reset input */
input {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

.form_control select {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.1em;
	color: #444;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}