.pet_home_header {
	margin-bottom: 2em;
}

.pet_home_header h1 {
	margin-bottom: 0.3em;
}

.pet_container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.pet_card {
	width: 22%;
	margin: 1.5%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #262626;
}

.pet_card_image {
	background-size: cover;
	background-position: center;
	height: 225px;
	width: 100%;
	margin-bottom: 1.2em;
}

.pet_card h3 {
	color: #fa4ffa;
	margin-bottom: 1em;
	font-size: 1.5em;
	padding: 8px;
}

.pet_card p, 
.pet_card span {
	color: #fff;
	margin-bottom: 1em;
	font-size: 1em;
}

.pet_card a {
	text-decoration: none;
	background-color: #fa4ffa;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 20px;
	font-size: 1.2em;
	padding: 12px;
	max-width: 60%;
	align-self: center;
	margin-bottom: 1em;
}

.pet_card a:hover {
	background-color: #262626;
	color: #fa4ffa;
}

.adopted_text {
	color: #25B456 !important;
	font-weight: bold;
	padding: 15px;
}