.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em 1.5em;
	background-color: #262626;
	color: #fa4ffa;
}

.navbar_logo {
	display: flex;
	align-items: center;
}

.navbar_logo img {
	width: 40px;
	margin-right: 0.8em;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar li,
.navbar a {
	text-decoration: none;
	color: #fa4ffa;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
	padding: 0.5em 0.8em;
	border-radius: 15px;
}

.navbar li:hover {
	background-color: #fa4ffa;
	color: #fff;
}

.navbar li:hover > a {
	color: #fff;
}